doctype
html(lang='en')
    head
        link(rel="stylesheet", href="style.css")
        script(defer, src="script.js")
        meta(charset='utf-8')
        title Testing Clock
    body
        .clock
            .hand.hour
            .hand.minute
            .hand.second
            .number.number1 1
            .number.number2 2
            .number.number3 3
            .number.number4 4
            .number.number5 5
            .number.number6 6
            .number.number7 7
            .number.number8 8
            .number.number9 9
            .number.number10 10
            .number.number11 11
            .number.number12 12